<div class="chatroom-container">

  <div>
    <h1> <%= link_to "Chat with #{@chatroom.other_user(current_user).name} ", user_path(@chatroom.other_user(current_user)) %> </h1>
  </div>


<!-- ALL THE MSG -->
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.order(created_at: :asc).each do |message| %>
      <% if message.user != current_user %>
        <% message.update!(read: true) %>
      <% end %>
      <% user = message.user %>
      <div class="<%= user == current_user ? "sent" : "received" %>" id="messages-ajax">

        <% if user == current_user %>

<!-- CARTE OF THE MESSAGES WE SEND -->
        <div class="message-sent">

          <div class="card-content">
          <% if message.product %>
            <div class="user-name">
              <p><%= message.created_at.strftime("%l:%M%p") %></p>
            </div>
            <div class="content">

              <p> The product I'm interested in is: </p>
              <%= render 'products/card', product: message.product %>
            </div>
          <% else %>

            <div class="message-container" id="message-<%= message.id %>">
              <div class="user-name">
                <p><%= message.created_at.strftime("%l:%M%p") %></p>
              </div>
              <div class="content">
                <span class="text-msg"><%= message.content %></span>
              </div>
            </div>
          <% end %>
          </div>
        </div>
<!-- CARTE OF THE MESSAGES WE RECEIVE -->

          <% else %>
<div class="message-received">

          <div class="card-content">
          <% if message.product %>
            <div class="user-name">
              <p><%= message.created_at.strftime("%l:%M%p") %></p>
            </div>
            <div class="content">
              <p> The product I'm interested in is: </p>
              <%= render 'products/card', product: message.product %>
            </div>

          <% else %>

            <div class="message-container" id="message-<%= message.id %>">
              <div class="user-name">
                <p><%= message.created_at.strftime("%l:%M%p") %></p>
              </div>
              <div class="content">
                <span class="text-msg"><%= message.content %></span>
              </div>
            </div>
          <% end %>
          </div>
</div>


        <% end %>




  </div>
 <% end %>

<% if current_user.has_pending_deals_with(@chatroom.other_user(current_user)) ||
  @chatroom.products.left_outer_joins(:deal).where(deals: {id: nil}).where.not(products: {user: current_user}).any? ||
  @chatroom.deals.where(status: 'pending')
 %>
  <div class="button_cta buy" data-toggle="modal" data-target="#exampleModal">
     <i class="fas fa-shopping-cart"></i> DEALS
  </div>
 <% end %>

<!-- PRODUCT BUTTON CTACTION -->
<!--     <#% @products.each do |product| %>
      <#% if !product.deal && product.user != current_user %>
        <div class="button_cta buy">
          <#%= link_to "/ REQUEST DEAL", product_deals_path(product), method: :post %>
        </div>
      <#% end %>
    <#% end %>
    <#% if @deal&.status == "pending" && current_user != @deal.user %>
      <div class="button_cta buy">
        <#%= link_to "ACCEPT DEAL REQUEST FROM // #{@deal.user.name}", in_process_path(@deal), method: :post %>
      </div>
    <#% end %> -->
</div>



  <!-- SUBMIT -->

  <%= simple_form_for([ @chatroom, @message ], remote: true) do |f| %>
  <div class="form-module">
    <%= f.input :content, label: false, placeholder: "Is the product still available ?", wrapper_html: { class: 'input' }, input_html: { class: 'textarea' } %>
    <%= f.button :submit, 'Send', class: 'button_selected' %>
  </div>
  <% end %>



</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Deals</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% @products.each do |product| %>
          <% if !product.deal && product.user != current_user %>
            <div class="add-deal-modal">
              <%= link_to " + REQUEST DEAL FOR \"#{product.title}\"", product_deals_path(product), method: :post %>
            </div>
          <% elsif product.deal&.status == "pending" && current_user != product.deal.user %>
                <div class=" buy">
                  <p><em><%= product.title %></em> / <%= product.color %> <%= product.fabric %> (<%= product.condition %>)</p>
          <div class="accept-reject">
            <div class="button_cta">
            <!-- if STATUS = PENDING, then have a button that says 'ACCEPT'-->
              <%= link_to "✓ ACCEPT", in_process_path(product.deal), method: :post %>
            </div>
            <div class="reject-button">
            <!-- if STATUS = PENDING, then have a button that say 'REJECT' -->
            <%= link_to "X REJECT", rejected_path(product.deal), method: :post %>
            </div>
          </div>
      </div>
        <% end %>
    <% end %>

      </div>
    </div>
  </div>
</div>







