<div class="container">
   <div class="back-link">
    <h4><%= link_to "⌫ B A C K", products_path %></h4>
   </div>

   <div class="show-user-info">
      <div class="show-user-header">
        <h1><strong><%= @user.name %></strong></h1>
        <p><%= @user.location %></p>
        <p>/ <%= @user.school %></p>
      </div>

      <div>
        <% if @user.photo.attached? %>
          <div class="show-image" style="background-image: url('<%= cl_image_path @user.photo.key, height: 300, width: 400, crop: :fill %>')">
        <% else %>
          <div class="show-image" style="background-image: url('')">
        <% end %>
      </div>
      <div class="show-user-bio">
        <h2><strong>BIO /</strong></h2>
        <p><em>"<%= @user.bio %>"</em></p>
        <% if @user == current_user %>
        <div class="user-edit">
          <%= link_to '/ EDIT info', edit_user_path(@user) %>
        </div>
        <% end %>
      </div>

  <% if @user != current_user %>
    <div class="user-message">
      <% if policy(Chatroom.new(user_a: current_user, user_b: @user)).create? %>
        <%=link_to "✎ MESSAGE", chatrooms_path, method: :post  %>
        <%#= link_to '/ MESSAGE', chatroom_path(current_user.chat_with(@product.user)) %>
      <% elsif current_user.chat_with(@user) %>
        <%=link_to "✎ MESSAGE", chatroom_path(current_user.chat_with(@user)) %>
      <% end %>
    </div>

  <% end %>


      <div class="show-user-shop">
        <h3><strong><%= @user == current_user ? "Your" : "#{@user.name}'s" %> Shop /</strong></h3>

        <% if @user.products.empty? %>
          <p>Nothing for sale yet.</p>
        <% else %>

          <div class="product-scroll">
            <div class="cards">
              <% @user.products.each do |product| %>
                  <%= render 'products/card', product: product %>
              <% end %>
            </div>
              <% if @user == current_user %>
              <div class="user-edit">
                <%= link_to '+ SELL', new_product_path %>
              </div>
              <% end %>
            <% end %>
          </div>
          </div>
        </div>


      <div class="show-user-reviews">
          <h3><strong><%= @user == current_user ? "Your" : "#{@user.name}'s" %> Reviews /</strong></h3>

      <% if @user.received_reviews.empty? %>
        <p>No reviews yet.</p>
        <% else %>
          <% @user.received_reviews.each do |review| %>
            <p>---------------------------------</p>
            <p>Rating: <%= review.rating %>/5 | <%= review.title %></p>
            <p>"<%= review.content %>"</p>
          <% end %>
      <% end %>
      </div>

    <% if @user == current_user %>
          <div class="show-user-deals">
            <div class="users-deals">
              <h3><strong>Deals /</strong></h3>
              <h3><strong>By you, to others /</strong></h3>
            <!-- Your PENDING, PROCESSING, and PAST deals all go here -->
              <% @pending_deals.each do |deal| %>
                <%= link_to deal.product.title, deal_path(deal) %>
              <% end %>

              <% @closed_deals.each do |deal| %>
                <%= link_to deal.product.title, deal_path(deal) %>
              <% end %>
            </div>
            <div class="others-deals">
              <h3><strong> By others, to you / </strong></h3>
              <% @my_product_deals.each do |deal| %>
                <%= link_to deal.product.title, deal_path(deal) %>
                <li> <%= deal.product.status %> </li>
                <% if deal.product.status != 'sold'%>
                <%= link_to 'Mark as sold', closed_path(deal), method: :post %>
                <% end  %>
              <% end %>
            </div>
          </div>
         <% end %>

      <div class="show-user-favorites">
        <h3><strong><%= @user == current_user ? "Your" : "#{@user.name}'s" %> Favorites /</strong></h3>

        <% if @user.favorites.empty? %>
          <p>No favorites yet.</p>
        <% else %>
          <div class="product-scroll">
            <div class="cards">
              <% @favorites.each do |favorite| %>
                <%= render 'products/card', product: favorite.product %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
