<h4><%= link_to "⌫ B A C K", products_path %></h4>

<div><h1> Your profile </h1></div>

<div>
  <% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <p><%= @user.name %></p>
  <p><%= @user.email %></p>
  <p><%= @user.location %> | <%= @user.school %></p>
  <p><em>"<%= @user.bio %>"</em></p>

  <%= link_to '/ EDIT info', edit_user_path(@user) %>

  <h3>Your Shop</h3>
    <ul>
    <% @user.products.each do |product| %>
      <li><%= link_to product.title, product_path(product) %></li>
      <li> <%= product.status %> </li>
    <% end %>
    </ul>
  <h2><%= link_to '+ Start selling', new_product_path %></h2>

  <h3>Your Reviews</h3>
    <% @user.received_reviews.each do |review| %>
      <h2><%= review.title %></h2>
      <%= review.content %>
    <% end %>

  <h3>Deals</h3>
  <!-- Your PENDING, PROCESSING, and PAST deals all go here -->
    <% @pending_deals.each do |deal| %>
      <%= link_to deal.product.title, deal_path(deal) %>
    <% end %>

    <% @closed_deals.each do |deal| %>
      <%= link_to deal.product.title, deal_path(deal) %>
    <% end %>

    <h3> What you sell status - hurry to make money </h3>
    <% @my_product_deals.each do |deal| %>
      <%= link_to deal.product.title, product_path(deal.product) %>
      <li> <%= deal.product.status %> </li>
      <% if deal.product.status != 'sold'%>
      <%= link_to 'Mark as sold', closed_path(deal), method: :post %>
      <% end  %>
    <% end %>

  <h3>Favorites</h3>
  <ul>
  <% @favorites.each do |favorite| %>
    <li><%= link_to favorite.product.title, product_path(favorite.product.id) %></li>
  <% end %>
  </ul>
</div>
