
<div class="menu-container">


    <div class="search <%= 'active' if controller_name == 'products' && ['index', 'show'].include?(action_name) || (controller_name == 'users' && action_name == 'show' && params[:id] != current_user.id.to_s) %>">
      <%= link_to products_path, class: "nav-link" do %>
      <i
      type="" id="filterbutton" class="fas fa-search">
      </i>
      <% end %>
    </div>
    <div class="sell <%= 'active' if controller_name == 'products' && ['new'].include?(action_name) %>">
      <%= link_to new_product_path, class: "nav-link" do %>
      <i
      id="filterbutton" class="fas fa-angle-double-up">
      </i>
    <% end %>
    </div>

    <div class="message <%= 'active' if controller_name == 'chatrooms' %>">

      <%= link_to chatrooms_path, class: "nav-link" do %>
      <i
      id="filterbutton" class="<%= 'blue' if current_user.has_unread_messages? %> far fa-envelope">
      </i>
      <% end %>
    </div>

    <div class="profile <%= 'active' if (controller_name == 'users' && action_name == 'show' && params[:id] == current_user.id.to_s) %>">
      <%= link_to user_path(current_user), class: "nav-link" do %>
      <i
      id="filterbutton" class="far fa-user">
      </i>
      <% end %>
    </div>
</div>



