<!-- Button trigger modal -->
<div class="filters-button">
  <i type="" id="filterbutton" class="fas fa-filter" data-toggle="modal" data-target="#exampleModal">
  </i>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- FILTERS SECTION  -->

        <%= form_tag products_path, method: :get do %>
        <%= text_field_tag :location,
        params[ :location],
        class: "form-control",
          placeholder: "Location"
          %>
          <%= text_field_tag :query,
          params[ :query],
          class: "form-control",
            placeholder: "Find a user"
            %>

            <div class="filtering">

              <h5> Fabric </h5>
              <div class="filter-box">
                <% Product::FABRICS.each do |fabric| %>
                <% is_selected = params["fabric"].present? &&  params["fabric"].include?(fabric) %>
                <div>
                  <input <%= 'checked' if is_selected %> type="checkbox" hidden value="<%= fabric %>" name="fabric[]" id="<%= fabric %>">
                  <label class="<%= 'active' if is_selected %>" for="<%= fabric %>"><%= fabric.titleize %></label>
                </div>
                <% end %>
              </div>

              <h5> Condition </h5>
              <div class="filter-box">
                <% Product::CONDITIONS.each do |condition| %>
                <% is_selected = params["condition"].present? &&  params["condition"].include?(condition) %>
                <div>
                  <input <%= 'checked' if is_selected %> type="checkbox" hidden value="<%= condition %>" name="condition[]" id="<%= condition %>">
                  <label class="<%= 'active' if is_selected %>" for="<%= condition %>"><%= condition.titleize %></label>
                </div>
                <% end %>
              </div>

              <h5> Color </h5>
              <div class="filter-box">
                <% Product::COLORS.each do |color| %>
                <% is_selected = params["color"].present? && params["color"].include?(color)%>
                <div>
                  <input <%= 'checked' if is_selected %> type="checkbox" hidden value="<%= color %>" name="color[]" id="<%= color %>">
                  <label class="<%= 'active' if is_selected %>" for="<%= color %>"><%= color.titleize %></label>
                </div>
                <% end %>
              </div>

              <h5> Price </h5>
              <div class="filter-box">
                <% Product::PRICE_OPTIONS.each do |price| %>
                <% is_selected = params["price"].present? && params["price"].include?(price[-1].to_s)%>
                <div>
                  <input <%= 'checked' if is_selected %> type="checkbox" hidden value="<%= price[1] %>" name="price[]" id="<%= price %>">
                  <label class="<%= 'active' if is_selected %>" for="<%= price %>">From <%= price[0] %> to <%= price[1] %></label>
                </div>
                <% end %>
              </div>

              <h5> Quantity </h5>
              <div class="filter-box">
                <% Product::QUANTITY.each do |quantity| %>
                <% is_selected = params["quantity"].present? && params["quantity"].include?(quantity[-1].to_s)%>
                <div>
                  <input <%= 'checked' if is_selected %> type="checkbox" hidden value="<%= quantity[1] %>" name="quantity[]" id="<%= quantity %>-qty">
                  <label class="<%= 'active' if is_selected %>" for="<%= quantity %>-qty"><%= quantity[0] %> - <%= quantity[1] %> meters </label>
                </div>
                <% end %>
              </div>
            </div>

            <div class="modal-footer">
              <%= submit_tag  "Search", class: "button_cta" %>
              <% end %>
            </div>
          </div>


        </div>
      </div>
    </div>




