<% product.photos[0..1].each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h2><%= link_to product.title, product_path(product) %></h2>
<h3><%= product.color %> <%= product.fabric %> ⋮ <%= product.location %></h3>
<h4>£ <%= product.price %> / meter</h4>
