<div class="container">
  <h1>Products :O</h1>

<!-- FILTERS SECTION  -->

  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :location,
      params[ :location],
      class: "form-control",
      placeholder: "Find fabric near you"
    %>
  <%= text_field_tag :query,
    params[ :query],
    class: "form-control",
    placeholder: "Find a user"
  %>

<div class="filtering">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="temperDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Fabric:
    </button>
    <div class="dropdown-menu" aria-labelledby="fabricDropdown">
        <% Product::FABRICS.each do |fabric| %>
        <div>
          <input type="checkbox" value="<%= fabric %>" name="fabric[]" id="<%= fabric %>">
          <label for="<%= fabric %>"><%= fabric.titleize %></label>
        </div>
        <% end %>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="conditionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Condition:
    </button>
    <div class="dropdown-menu" aria-labelledby="conditionDropdown">
        <% Product::CONDITIONS.each do |condition| %>
        <div>
          <input type="checkbox" value="<%= condition %>" name="condition[]" id="<%= condition %>">
          <label for="<%= condition %>"><%= condition.titleize %></label>
        </div>
        <% end %>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="colorDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Color:
    </button>
    <div class="dropdown-menu" aria-labelledby="colorDropdown">
        <% Product::COLORS.each do |color| %>
        <div>
          <input type="checkbox" value="<%= color %>" name="color[]" id="<%= color %>">
          <label for="<%= color %>"><%= color.titleize %></label>
        </div>
        <% end %>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="ageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Price Range:
    </button>
    <div class="dropdown-menu" aria-labelledby="priceDropdown">
        <% [[1,10],[11,20],[21,30],[31,40],[41,50],[51,'++']].each do |price| %>
        <div>
          <input type="checkbox" value="<%= price[1] %>" name="price[]" id="<%= price %>">
          <label for="<%= price %>">From <%= price[0] %> to <%= price[1] %></label>
        </div>
        <% end %>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="quantityDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Quantity:
    </button>
    <div class="dropdown-menu" aria-labelledby="quantityDropdown">
        <% [[1,10],[11,20],[21,30],[31,40],[41,'++']].each do |quantity| %>
        <div>
          <input type="checkbox" value="<%= quantity[1] %>" name="quantity[]" id="<%= quantity %>">
          <label for="<%= quantity %>"><%= quantity[0] %> - <%= quantity[1] %> meters </label>
        </div>
        <% end %>
    </div>
  </div>

  <%= submit_tag  "Search", class: "btn-submit" %>
  <% end %>
</div>

<!-- PRODUCTS SECTION  -->

<div class="cards">


<% @products.each do |product| %>
  <%= link_to product do %>
      <div class="product-card" id="product-<%= product.id %>">
        <div class="image">
          <% if product.photos.any? %>
            <%= cl_image_tag product.photos.first.key, height: 100, width: 200, crop: :fill %>
          <% else %>
             <%= image_tag "https://picsum.photos/600/600", class: "img", height: 200, width: 200 %>
          <% end %>
        </div>
      <div class="information">
        <div class="material">
          <span>Material</span>
          <h5><%= product.fabric %></h5>
        </div>

        <div class="label">
          <span>Title</span>
          <h5><%= product.title %></h5>
        </div>
      </div>


      <div class="price">
        <div class="quantity">
          <span>Quantity</span>
          <h5><%= product.quantity %></h5>
        </div>
        <div class="price">
          <span>Price</span>
          <h5> <%= product.price %> £ </h5>
        </div>
      </div>

      <% if current_user.has_favorite(product) %>
        <%= link_to favorite_path(current_user.has_favorite(product)), class: "fav" , method: :delete do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to product_favorites_path(product.id), class: "fav", method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
    </div>

  <% end %>
<% end %>


</div>


<h2><%= link_to '+ Start selling', new_product_path %></h2>

<div id="map"
 style="width: 100%; height: 600px;"
 data-markers="<%= @markers.to_json %>"
 data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
