<h1><%= @product.title %></h1>
<p>Location: <%= @product.location %></p>
<% @product.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<p>Fabric: <%= @product.fabric %></p>
<p>Condition: <%= @product.condition %></p>
<p>Weight: <%= @product.weight %>g</p>
<p>Quantity: <%= @product.quantity %> meters</p>
<p>Color: <%= @product.color %></p>
<p>Price: £<%= @product.price %>/meter</p>
<h2>Description:</h2>
<p><%= @product.description %></p>
<%= link_to '/ EDIT', edit_product_path %>
<%= link_to 'X REMOVE', product_path(@product.id), method: :delete %>

<% if @product.user != current_user  %>
<%= link_to '/ MESSAGE', chatroom_path(current_user.chat_with(@product.user)) %>
<% end %>
