<div class="container">
  <div class="back-link">
    <h4><%= link_to "⌫ B A C K", products_path %></h4>
  </div>

  <div class="show-product-info">
    <div class="show-product-header">
      <h1><strong><%= @product.title %></strong></h1>
      <h4>by <%= link_to @product.user.name, user_path(@product.user) %></h4>
      <p>LOCATION / <%= @product.location %></p>
    </div>

    <div>
      <% if @product.photos.any? %>
        <div id="product-<%= @product.id %>" class="show-image" style="background-image: url('<%= cl_image_path @product.photos.first.key, height: 300, width: 400, crop: :fill %>')">
      <% else %>
        <div id="product-<%= @product.id %>" class="show-image" style="background-image: url('')">
      <% end %>
          <% if current_user.has_favorite(@product) %>
            <%= link_to favorite_path(current_user.has_favorite(@product)), class: "fav" , method: :delete, remote: true do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to product_favorites_path(@product.id), class: "fav", method: :post, remote: true do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
      </div>
    </div>

      <div class="show-fabric-price">
        <div class="show-fabric">
          <p>/ <%= @product.fabric %></p>
        </div>
        <div class="show-price">
          <p>£<%= @product.price %>/meter</p>
        </div>
      </div>
      <div class="show-product-description">
        <p>COLOR / <%= @product.color %></p>
        <p>WEIGHT / <%= @product.weight %> grams</p>
        <p>QUANTITY / <%= @product.quantity %> meters</p>
        <p>CONDITION / <%= @product.condition %></p>
        <p> ------------------------- </p>
        <h2><strong>// DESCRIPTION</strong></h2>
        <p>"<%= @product.description %>"</p>
      </div>

  <div class="show-buttons">
    <% if policy(@product).edit? %>
     <div class="show-edit">
        <%= link_to '/ EDIT', edit_product_path %>
     </div>
    <% end %>
    <% if policy(@product).destroy? %>
      <div class="show-remove">
        <%= link_to 'X REMOVE', product_path(@product.id), method: :delete %>
      </div>
    <% end %>

  <% if @product.user != current_user %>
    <div class="show-message">
        <% if policy(Chatroom.new(user_a: current_user, user_b: @product.user)).create? %>
        <%=link_to "✎ MESSAGE", chatrooms_path(product_id: @product.id), method: :post  %>
        <%#= link_to '✎ MESSAGE', chatroom_path(current_user.chat_with(@product.user)) %>
      <% elsif  @chat_with_owner && @chat_with_owner.messages.find_by(product: @product) %>
        <%=link_to "✎ MESSAGE", chatroom_path(@chat_with_owner) %>
      <% elsif @product.user != current_user && @chat_with_owner%>
        <%=link_to "✎ MESSAGE ", chatroom_messages_path(@chat_with_owner, product_id: @product.id ), method: :post  %>
      <% end %>
    </div>
  <% end %>
  </div>

  <div class="show-product-photos">
  <% @product.photos.each do |photo| %>
    <%= cl_image_tag photo.key, crop: :fill %>
  <% end %>
  </div>

</div>
